<div class="container-fluid">
    <div class="row">
        <div class="card col-12">
            <div class="row">
                <div class="mx-auto">
                    <h3 class="text-center">{{data.titulo}}</h3>
                </div>
            </div>
            {{#each data.contenido}}
                <div class="row">
                    <p class="{{clase}}">{{{cuerpo}}}</p>
                </div>
            {{/each}}
            {{#if data.link}}
                <div class="row">
                    <a href={{data.link}}>{{data.linkDisplay}}</a>
                </div>
            {{/if}}
        </div>
    </div>
</div>